.popup {
    display: none;
    width: 100%;

    &.fancybox-content {
        position: static;
        overflow: visible;
    }
}

.fancybox-slide {
    @include scrollbar;
}

.fancybox-button--close {
    align-items: center;
    background-color: var(--color_black);
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px;
    top: 16px;
    right: 16px;

    svg {
        fill: #fff;
        height: 16px;
        width: 16px;
    }
}