.cards-slider {
    &__top {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: space-between;
        margin-bottom: 24px;
        @media(min-width: $sm) {
            margin-bottom: 32px;
        }

        h2 {
            margin: 0;
        }
    }

    &__nav {
        align-items: center;
        display: flex;
        gap: 64px;
        margin-left: auto;

        .button {
            @media(max-width: $sm - 0.02px) {
                display: none;
            }
        }
    }

    &__buttons {
        display: flex;
        gap: 20px;
    }

    &__button {
        @include button-reset;
        align-items: center;
        background-color: #fff;
        border: 1px solid var(--color_green);
        cursor: pointer;
        display: flex;
        height: 32px;
        justify-content: center;
        transition: background-color 0.3s;
        width: 32px;
        @include hover {
            background-color: #CBFDC9;
        }

        svg {
            fill: var(--color_black);
            height: 16px;
            width: 16px;
        }

        &.swiper-button-lock {
            display: none;
        }
    }

    &--catalog {
        @media(max-width: $sm - 0.02px) {
            margin-left: calc(0.02px - var(--container_padding));
            margin-right: calc(0.02px - var(--container_padding));
        }

        .cards-slider__top,
        .swiper-pagination {
            @media(max-width: $sm - 0.02px) {
                padding-left: var(--container_padding);
                padding-right: var(--container_padding);
            }
        }

        .swiper-slide {
            @media(max-width: $sm - 0.02px) {
                width: 328px;
            }

            .card {
                width: 100%;
            }
        }
    }

    &--news {
        .swiper-slide {
            height: auto;
            display: flex;
            padding-bottom: 1px;

            .news-item {
                @media(max-width: $sm - 0.02px) {
                    margin-left: auto;
                    margin-right: auto;
                }
                @media(min-width: $sm) {
                    max-width: 100%;
                }
            }
        }
    }

    &--not_slider {
        @media(max-width: $sm - 0.02px) {
            margin-left: calc(0.02px - var(--container_padding));
            margin-right: calc(0.02px - var(--container_padding));
        }

        .cards-slider__nav,
        .swiper-pagination {
            @media(min-width: $sm) {
                display: none;
            }
        }

        .cards-slider__top,
        .swiper-pagination {
            @media(max-width: $sm - 0.02px) {
                padding-left: var(--container_padding);
                padding-right: var(--container_padding);
            }
        }

        .swiper-wrapper {
            @media(min-width: $sm) {
                display: flex;
                flex-wrap: wrap;
                gap: 24px;
            }

            .swiper-slide {
                height: auto;
                @media(max-width: $sm - 0.02px) {
                    width: 328px;
                }
                @media(min-width: $sm) {
                    width: calc(100% / 2 - 24px / 2);
                }
                @media(min-width: $md) {
                    width: calc(100% / 3 - 24px * 2 / 3);
                }

                .info-card {
                    height: 100%;
                }
            }
        }
    }

    .swiper-slide {
        height: auto;
        display: flex;
        padding-bottom: 1px;

        .news-item {
            @media(max-width: $sm - 0.02px) {
                margin-left: auto;
                margin-right: auto;
            }
            @media(min-width: $sm) {
                max-width: 100%;
            }
        }

        .card {
            width: 100%;
        }
    }

    .swiper-pagination {
        display: flex;
        gap: 16px;
        justify-content: flex-end;
        margin-top: 24px;
        position: static;
        text-align: right;

        .swiper-pagination-bullet {
            border: 1px solid transparent;
            border-radius: 0;
            background-color: var(--color_grey_2);
            height: 16px;
            margin: 0;
            opacity: 1;
            width: 16px;

            &.swiper-pagination-bullet-active {
                border-color: var(--color_green);
                background-color: #CBFDC9;
            }
        }
    }

    &__bottom {
        margin-top: 24px;
        @media(min-width: $sm) {
            display: none;
        }

        &--flex {
            @media(min-width: $sm) {
                align-items: center;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                gap: 24px;
            }

            .swiper-pagination {
                @media(min-width: $sm) {
                    margin-top: 0;
                }

                &:not(:last-child) {
                    @media(max-width: $sm - 0.02px) {
                        margin-bottom: 24px;
                    }
                }
            }
        }

        .button {
            flex-shrink: 0;
            @media(max-width: $sm - 0.02px) {
                width: 100%;
            }
        }
    }
}