.footer {
    background-color: var(--color_grey_3);
    flex-shrink: 0;
    padding-top: 48px;
    padding-bottom: 16px;
    @media(min-width: $sm) {
        padding-top: 64px;
    }
    @media(min-width: $hd) {
        padding-top: 104px;
    }

    .container {
        position: relative;
        padding-left: 24px;
        padding-right: 24px;
        z-index: 1;
    }

    &__top {
        display: flex;
        flex-direction: column;
        gap: 36px;
        margin-bottom: 36px;
        @media(min-width: $sm) {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 32px 0;
            margin-bottom: 32px;
        }
    }

    &__top-left {
        display: flex;
        flex-direction: column;
        gap: 36px;

        .social-links {
            @media(max-width: $sm - 0.02px) {
                justify-content: space-between;
            }
        }
    }

    &__logo {
        img {
            display: block;
        }
    }

    &__slogan {
        font-family: var(--secondary_font);
        font-size: 12px;
        line-height: 1.4;
        margin: 0;
    }

    &__top-center {
        @media(min-width: $sm) {
            margin-left: auto;
            margin-right: auto;
            width: 41%;
        }
        @media(min-width: $md) {
            width: 35%;
        }
    }

    &__menu {
        @include list-reset;
        columns: 2;
        font-size: 14px;
        gap: 20px;
        margin-bottom: -20px !important;
        @media(min-width: $sm) {
            gap: 25%;
        }

        li {
            margin-bottom: 20px;
        }

        a {
            @include active-area;
            display: block;
            position: relative;
            text-decoration: none;
            z-index: 1;
        }
    }

    &__top-right {
        display: flex;
        font-size: 14px;
        font-weight: 500;
        flex-direction: column;
        gap: 20px;
        @media(min-width: $sm) and (max-width: $md - 0.02px) {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }

        p {
            margin-bottom: 0;
        }
    }

    &__bottom {
        border-top: 1px solid var(--color_grey_2);
        color: var(--color_grey_1);
        display: flex;
        flex-direction: column;
        font-size: 12px;
        gap: 16px;
        padding-top: 16px;
        @media(min-width: $sm) {
            flex-direction: row;
            justify-content: space-between;
        }

        a {
            color: var(--color_grey_1);
        }
    }
}

.social-links {
    display: flex;
    gap: 16px;

    a {
        height: 36px;
        width: 36px;
    }

    img {
        display: block;
    }
}

.to-top {
    align-items: center;
    border: 1px solid var(--color_green);
    background-color: var(--color_white);
    display: flex;
    height: 32px;
    justify-content: center;
    left: auto;
    position: absolute;
    right: 24px;
    top: 0;
    width: 32px;
    z-index: 1;
    @media(min-width: $md) {
        top: -44px;
    }
    @media(min-width: $hd) {
        top: -64px;
    }
    @media(min-width: $lg) {
        right: -32px;
    }

    svg {
        fill: var(--color_black);
        height: 16px;
        width: 16px;
    }
}