.header {
    background-color: #fff;
    border-bottom: 1px solid var(--color_grey_4);
    font-size: 14px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;

    &.is-out {
        //transform: translateY(-100%);
    }

    &.is-scrolled {
        //box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
        //position: fixed;
        //transition: transform 0.2s;
    }

    &__top {
        align-items: center;
        display: flex;
    }

    &__logo {}

    &__phone {
        font-weight: 600;
    }

    &__button {}

    &__search {}

    &__burger {}

    &__bottom {}
}

.search-form {
    position: relative;
    z-index: 1;

    &__input {
        height: 40px;
        padding-left: 45px;

        &::-webkit-input-placeholder {
            color: var(--color_grey_1);
        }

        &::-moz-placeholder {
            color: var(--color_grey_1);
        }

        &:-ms-input-placeholder {
            color: var(--color_grey_1);
        }
    }

    &__submit {
        @include button-reset;
        align-items: center;
        color: var(--color_green);
        cursor: pointer;
        display: flex;
        justify-content: center;
        height: 40px;
        left: 0;
        position: absolute;
        top: 0;
        transition: color 0.3s;
        width: 45px;
        z-index: 1;
        @include hover {
            color: var(--color_green_hovered);
        }

        svg {
            fill: currentColor;
            height: 16px;
            width: 16px;
        }
    }
}