<footer class="footer">
    <div class="container">
        <a class="to-top" href="#" title="Наверх">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#chevron_up" />
            </svg>
        </a>

        <div class="footer__top">
            <div class="footer__top-left">
                <div class="footer__logo">
                    <img src="images/logo.svg" alt="FADOCO">
                </div>

                <p class="footer__slogan">Надежные стеновые панели<br> для любых интерьеров</p>

                <div class="social-links">
                    <a href="#" target="_blank" rel="nofollow noreferrer" title="Наш WhatsApp">
                        <img src="images/icons/wa.svg" alt="WhatsApp">
                    </a>

                    <a href="#" target="_blank" rel="nofollow noreferrer" title="Наш Viber">
                        <img src="images/icons/viber.svg" alt="Viber">
                    </a>

                    <a href="#" target="_blank" rel="nofollow noreferrer" title="Наш Telegram">
                        <img src="images/icons/tg.svg" alt="Telegram">
                    </a>

                    <a href="#" target="_blank" rel="nofollow noreferrer" title="Мы Вконтакте">
                        <img src="images/icons/vk.svg" alt="Вконтакте">
                    </a>
                </div>
            </div>

            <div class="footer__top-center">
                <ul class="footer__menu">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Каталог</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Галерея</a></li>
                    <li><a href="#">Где купить</a></li>
                    <li><a href="#">Документация</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>

            <div class="footer__top-right">
                <p class="contact">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#pin_icon" />
                    </svg>
                    <span>г. Москва, ул. Тверская д.5, кор.6</span>
                </p>

                <a class="contact" href="tel:+78005556004">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#phone_icon" />
                    </svg>
                    <span>+7 (800) 555-60-04</span>
                </a>

                <a class="contact" href="mailto:info@fadoco.ru">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#email_icon" />
                    </svg>
                    <span>info@fadoco.ru</span>
                </a>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__copyright">©2013-2024 FADOCO - фасадный сайдинг из фиброцемента, Все права защищены</div>
            <div class="footer__developer"><a href="#" target="_blank" rel="nofollow noreferrer">Сайт разработан - AVDesigner</a></div>
        </div>
    </div>
</footer>