<div id="callback" class="popup form">
    <form action="">
        <div class="form__logo">
            <img src="images/logo.svg" alt="FADOCO">
        </div>

        <h2 class="form__title">Оставьте свой номер</h2>

        <p class="form__text">Специалист перезвонит Вам<br> в течение 10-ти минут</p>

        <label class="input-group">
            <input class="input-group__input" type="text" name="name" placeholder="Имя">
        </label>

        <label class="input-group">
            <input class="js-phone-mask input-group__input" type="text" name="phone" placeholder="Телефон">
        </label>

        <label class="input-group">
            <textarea class="input-group__textarea" name="comment" placeholder="Комментарий"></textarea>
        </label>

        <button class="button button--primary button--h_52" type="submit">Оставить запрос</button>

        <label class="checkbox">
            <input type="checkbox" name="terms" checked>
            <span class="checkbox__icon"></span>
            <span class="checkbox__text">Соглашаюсь на обработку персональных данных</span>
        </label>
    </form>
</div>

<div id="question" class="popup form">
    <form action="">
        <div class="form__logo">
            <img src="images/logo.svg" alt="FADOCO">
        </div>

        <h2 class="form__title">Остались вопросы?</h2>

        <p class="form__text">Задайте их нашему специалисту</p>

        <label class="input-group">
            <input class="input-group__input" type="text" name="name" placeholder="Имя">
        </label>

        <label class="input-group">
            <input class="js-phone-mask input-group__input" type="text" name="phone" placeholder="Телефон">
        </label>

        <label class="input-group">
            <input class="js-email-mask input-group__input" type="text" name="email" placeholder="Email">
        </label>

        <label class="input-group">
            <textarea class="input-group__textarea" name="question" placeholder="Вопрос"></textarea>
        </label>

        <button class="button button--primary button--h_52" type="submit">Оставить запрос</button>

        <label class="checkbox">
            <input type="checkbox" name="terms" checked>
            <span class="checkbox__icon"></span>
            <span class="checkbox__text">Соглашаюсь на обработку персональных данных</span>
        </label>
    </form>
</div>