<section class="page__section page__section--bottom_gap page__section--top_gap page__section--grey full-width">
    <div class="container">
        <div class="js-cards-slider cards-slider cards-slider--catalog" data-slider="slider_2">
            <div class="cards-slider__top">
                <h2 class="h1">Рекомендуем</h2>

                <div class="cards-slider__nav">
                    <div class="cards-slider__buttons">
                        <button class="js-cards-slider-prev cards-slider__button" type="button" title="Назад" data-slider="slider_2">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#chevron_left" />
                            </svg>
                        </button>

                        <button class="js-cards-slider-next cards-slider__button" type="button" title="Вперед" data-slider="slider_2">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#chevron_right" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card__image">
                                <img src="images/content/catalog/img_1.jpg" srcset="images/content/catalog/img_1@2x.jpg 2x" alt="">
                            </div>

                            <h3 class="card__title">Organza OR-10_1</h3>

                            <div class="card__props">
                                <div class="card__prop">
                                    <span>Основа:</span>
                                    <span>Фиброцемент</span>
                                </div>
                                <div class="card__prop">
                                    <span>Покрытие:</span>
                                    <span>Виниловое</span>
                                </div>
                                <div class="card__prop">
                                    <span>Вид:</span>
                                    <span>Камень</span>
                                </div>
                                <div class="card__prop">
                                    <span>Декор:</span>
                                    <span>OR-10_1</span>
                                </div>
                                <div class="card__prop">
                                    <span>Тип монтажа:</span>
                                    <span>Открытый</span>
                                </div>
                                <div class="card__prop">
                                    <span>Класс:</span>
                                    <span>КМ-0 / Негорючие</span>
                                </div>
                                <div class="card__prop">
                                    <span>Размер:</span>
                                    <span>3.00м*1.22м / 2.44м*1.22м</span>
                                </div>
                                <div class="card__prop">
                                    <span>Толщина:</span>
                                    <span>6 / 8 / 10 / 12 мм</span>
                                </div>
                            </div>

                            <div class="card__bottom">
                                <div class="card__price-block">
                                    <p class="card__price">от 795 ₽/м²</p>
                                    <p class="card__stock">В наличии</p>
                                </div>

                                <a class="card__more button button--secondary button--h_40" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card__image">
                                <img src="images/content/catalog/img_1.jpg" srcset="images/content/catalog/img_1@2x.jpg 2x" alt="">
                            </div>

                            <h3 class="card__title">Organza OR-10_1</h3>

                            <div class="card__props">
                                <div class="card__prop">
                                    <span>Основа:</span>
                                    <span>Фиброцемент</span>
                                </div>
                                <div class="card__prop">
                                    <span>Покрытие:</span>
                                    <span>Виниловое</span>
                                </div>
                                <div class="card__prop">
                                    <span>Вид:</span>
                                    <span>Камень</span>
                                </div>
                                <div class="card__prop">
                                    <span>Декор:</span>
                                    <span>OR-10_1</span>
                                </div>
                                <div class="card__prop">
                                    <span>Тип монтажа:</span>
                                    <span>Открытый</span>
                                </div>
                                <div class="card__prop">
                                    <span>Класс:</span>
                                    <span>КМ-0 / Негорючие</span>
                                </div>
                                <div class="card__prop">
                                    <span>Размер:</span>
                                    <span>3.00м*1.22м / 2.44м*1.22м</span>
                                </div>
                                <div class="card__prop">
                                    <span>Толщина:</span>
                                    <span>6 / 8 / 10 / 12 мм</span>
                                </div>
                            </div>

                            <div class="card__bottom">
                                <div class="card__price-block">
                                    <p class="card__price">от 795 ₽/м²</p>
                                    <p class="card__stock">В наличии</p>
                                </div>

                                <a class="card__more button button--secondary button--h_40" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card__image">
                                <img src="images/content/catalog/img_1.jpg" srcset="images/content/catalog/img_1@2x.jpg 2x" alt="">
                            </div>

                            <h3 class="card__title">Organza OR-10_1</h3>

                            <div class="card__props">
                                <div class="card__prop">
                                    <span>Основа:</span>
                                    <span>Фиброцемент</span>
                                </div>
                                <div class="card__prop">
                                    <span>Покрытие:</span>
                                    <span>Виниловое</span>
                                </div>
                                <div class="card__prop">
                                    <span>Вид:</span>
                                    <span>Камень</span>
                                </div>
                                <div class="card__prop">
                                    <span>Декор:</span>
                                    <span>OR-10_1</span>
                                </div>
                                <div class="card__prop">
                                    <span>Тип монтажа:</span>
                                    <span>Открытый</span>
                                </div>
                                <div class="card__prop">
                                    <span>Класс:</span>
                                    <span>КМ-0 / Негорючие</span>
                                </div>
                                <div class="card__prop">
                                    <span>Размер:</span>
                                    <span>3.00м*1.22м / 2.44м*1.22м</span>
                                </div>
                                <div class="card__prop">
                                    <span>Толщина:</span>
                                    <span>6 / 8 / 10 / 12 мм</span>
                                </div>
                            </div>

                            <div class="card__bottom">
                                <div class="card__price-block">
                                    <p class="card__price">от 795 ₽/м²</p>
                                    <p class="card__stock">В наличии</p>
                                </div>

                                <a class="card__more button button--secondary button--h_40" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card__image">
                                <img src="images/content/catalog/img_1.jpg" srcset="images/content/catalog/img_1@2x.jpg 2x" alt="">
                            </div>

                            <h3 class="card__title">Organza OR-10_1</h3>

                            <div class="card__props">
                                <div class="card__prop">
                                    <span>Основа:</span>
                                    <span>Фиброцемент</span>
                                </div>
                                <div class="card__prop">
                                    <span>Покрытие:</span>
                                    <span>Виниловое</span>
                                </div>
                                <div class="card__prop">
                                    <span>Вид:</span>
                                    <span>Камень</span>
                                </div>
                                <div class="card__prop">
                                    <span>Декор:</span>
                                    <span>OR-10_1</span>
                                </div>
                                <div class="card__prop">
                                    <span>Тип монтажа:</span>
                                    <span>Открытый</span>
                                </div>
                                <div class="card__prop">
                                    <span>Класс:</span>
                                    <span>КМ-0 / Негорючие</span>
                                </div>
                                <div class="card__prop">
                                    <span>Размер:</span>
                                    <span>3.00м*1.22м / 2.44м*1.22м</span>
                                </div>
                                <div class="card__prop">
                                    <span>Толщина:</span>
                                    <span>6 / 8 / 10 / 12 мм</span>
                                </div>
                            </div>

                            <div class="card__bottom">
                                <div class="card__price-block">
                                    <p class="card__price">от 795 ₽/м²</p>
                                    <p class="card__stock">В наличии</p>
                                </div>

                                <a class="card__more button button--secondary button--h_40" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card__image">
                                <img src="images/content/catalog/img_1.jpg" srcset="images/content/catalog/img_1@2x.jpg 2x" alt="">
                            </div>

                            <h3 class="card__title">Organza OR-10_1</h3>

                            <div class="card__props">
                                <div class="card__prop">
                                    <span>Основа:</span>
                                    <span>Фиброцемент</span>
                                </div>
                                <div class="card__prop">
                                    <span>Покрытие:</span>
                                    <span>Виниловое</span>
                                </div>
                                <div class="card__prop">
                                    <span>Вид:</span>
                                    <span>Камень</span>
                                </div>
                                <div class="card__prop">
                                    <span>Декор:</span>
                                    <span>OR-10_1</span>
                                </div>
                                <div class="card__prop">
                                    <span>Тип монтажа:</span>
                                    <span>Открытый</span>
                                </div>
                                <div class="card__prop">
                                    <span>Класс:</span>
                                    <span>КМ-0 / Негорючие</span>
                                </div>
                                <div class="card__prop">
                                    <span>Размер:</span>
                                    <span>3.00м*1.22м / 2.44м*1.22м</span>
                                </div>
                                <div class="card__prop">
                                    <span>Толщина:</span>
                                    <span>6 / 8 / 10 / 12 мм</span>
                                </div>
                            </div>

                            <div class="card__bottom">
                                <div class="card__price-block">
                                    <p class="card__price">от 795 ₽/м²</p>
                                    <p class="card__stock">В наличии</p>
                                </div>

                                <a class="card__more button button--secondary button--h_40" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card__image">
                                <img src="images/content/catalog/img_1.jpg" srcset="images/content/catalog/img_1@2x.jpg 2x" alt="">
                            </div>

                            <h3 class="card__title">Organza OR-10_1</h3>

                            <div class="card__props">
                                <div class="card__prop">
                                    <span>Основа:</span>
                                    <span>Фиброцемент</span>
                                </div>
                                <div class="card__prop">
                                    <span>Покрытие:</span>
                                    <span>Виниловое</span>
                                </div>
                                <div class="card__prop">
                                    <span>Вид:</span>
                                    <span>Камень</span>
                                </div>
                                <div class="card__prop">
                                    <span>Декор:</span>
                                    <span>OR-10_1</span>
                                </div>
                                <div class="card__prop">
                                    <span>Тип монтажа:</span>
                                    <span>Открытый</span>
                                </div>
                                <div class="card__prop">
                                    <span>Класс:</span>
                                    <span>КМ-0 / Негорючие</span>
                                </div>
                                <div class="card__prop">
                                    <span>Размер:</span>
                                    <span>3.00м*1.22м / 2.44м*1.22м</span>
                                </div>
                                <div class="card__prop">
                                    <span>Толщина:</span>
                                    <span>6 / 8 / 10 / 12 мм</span>
                                </div>
                            </div>

                            <div class="card__bottom">
                                <div class="card__price-block">
                                    <p class="card__price">от 795 ₽/м²</p>
                                    <p class="card__stock">В наличии</p>
                                </div>

                                <a class="card__more button button--secondary button--h_40" href="#">Подробнее</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="js-cards-slider-pagination swiper-pagination" data-slider="slider_2"></div>
            </div>
        </div>
    </div>
</section>